@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 14%, 14%);
}

.topSection {
  background-image: url('../images/bg-stars.svg');
  background-position: center;
  width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.mainTitle {
  font-size: 26px;
  letter-spacing: 10px;
  margin-bottom: 10%;
}

.bottomSection {
  display: flex;
  align-items: flex-end;
  width: 1440px;
  height: 21%;
}

.hillsPattern {
  width: 1440px;
  height: 197px;
  background-image: url('../images/pattern-hills.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-top:40px;
}

.fbButton:hover {
  cursor: pointer;
  fill: hsl(345, 95%, 68%);
}

.ptButton:hover {
  cursor: pointer;
  fill: hsl(345, 95%, 68%);
}

.isButton:hover {
  cursor: pointer;
  fill: hsl(345, 95%, 68%);
}